.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  top: 0 !important;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  max-width: 1500px;
}

.navbar-lg {
  color: white;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
  display: flex;
  margin-top: -1rem;
}

.navbar-lg:hover 
{
  color: white;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
  color: rgb(233, 176, 33);

}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  position: relative;
  margin-right: 1rem;
}

.nav-item:first-child:after{
  content: '';
  position: absolute;
  top: 10%;
  left:-1.5%;
  width: 0.3rem;
  height: 70%;
  background: rgb(233, 176, 33);
}

.nav-links {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  transition: all ease-in-out 0.3s;
  letter-spacing: 1.1px;
}

.nav-links::selection{
  color: yellowgreen;
  background: rgb(77, 77, 77);
}

.nav-links:hover {
  color: rgb(233, 176, 33);
  transform: translateY(-6px);
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-lg {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    letter-spacing: 1.1px;
    background-color: transparent;
    transition: all 0.3s ease-out;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 800;
  }
  
.nav-links-mobile::selection{
  color: yellowgreen;
  background: rgb(77, 77, 77);
}

.nav-links-mobile:hover {
  color: rgb(185, 185, 0);
  transform: translateY(-6px);
}
}
